@charset "UTF-8";

body{
	background-color:#EBF5FF;
}

.product_link:hover{
	background-color:#FFBEFF;
	color:black;
	
}


#wholewrap{
	width:90%;
	height:900px;
}

#topwrap{
	width:100%;
	height:100px;
	border:black 1px solid;
	
}

#leftwrap{
	margin-top:15px;
	margin-right:15px;
	width:15%;
	height:700px;
	float:left;
	
}


#tabViewer {
	background:white;
	margin-top:15px;
	width:75%;
	height:720px;
	border:none;
	padding: 3rem;
	float:left;
	
}

.paging{
	text-align:center;
}

.tabViewer-tabMenu {
	position: relative;
	display: flex;
	z-index: 2;
}

.tabViewer-tab.active:hover,
.tabViewer-tab.active:focus
{
	border:1px black solid;
	background: #5B86EF;
	color:white;
}



.tabViewer-tab.active {
	background: #5B86EF;
	color:white;
	border: 1px rgba(131, 244, 180, 0.3) solid;
}

.tabViewer-tab {
	
	padding: .75rem 1.3rem;
	background: #eee;
	margin-right: .3rem;
	font-size: 1.1rem;
	transition: background .2s ease-out, color .2s ease-out;
	text-align: center;
	flex-grow: 1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

a.tabViewer-tab {
	text-decoration: none;
}

.tabViewer-tab:last-child {
	margin-right: 0;
}

.tabViewer-tab:hover,
.tabViewer-tab:focus {
	background: #e6e6e6;
}

.tabViewer-tabContent {
	position: relative;
	z-index: 1;
	background: white;
	margin-bottom: 1.5rem;
	padding: 1rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tabViewer-content {
	display: none;
}

.tabViewer-content.active {
	display: block;
}

@media all and (max-width:36.063em) {
	.tabViewer-tabMenu {
		flex-direction: column;
	}

	.tabViewer-tab {
		margin-right: 0;
		&:not(:first-child) {
			border-radius: 0;
		}
	}
}
