<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.constant01.mapper.AffiMapper">
	<!-- 제휴 등록 -->
	<insert id="insert">
		insert into affi(
		af_name, af_tel, af_email, af_title, af_homepage, af_content, af_file)
		values(
		#{af_name}, #{af_tel},
		#{af_email}, #{af_title}, #{af_homepage}, #{af_content}, #{af_file})
	</insert>

	<select id="selectAF" resultType="com.constant01.model.Affi">
		select
		* from affi where af_no=#{af_no}
	</select>
	<select id="getAFTotal" resultType="int">
		select count(*) from affi
	</select>
	<!-- 제휴/광고 목록 -->
	<select id="afList" resultType="com.constant01.model.Affi">
		<!--
		select * from (select a.*, @rownum:=@rownum+1 rownum rn from (select * from affi
		
		 <where> <if test="keyword!=null and keyword!=''"> 
		 			${search} like '%'  || #{keyword} || '%'
		 		 </if> 
		 </where> 
		
		order by af_no desc) a) b
		-->
		select *
         from(select  b.*, @rownum:=@rownum+1 rn
            from affi b, (select @rownum:=0) as tmp
             order by AF_no desc) as boardlist
		where rn between #{startRow} and #{endRow}
	</select>
	
	<update id="updateAF" parameterType="com.constant01.model.Affi">
		update Affi set
		af_title='--처리되었습니다--'
		where af_no=#{af_no}
	</update>

</mapper> 
