<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.constant01.mapper.cartMapper">
  
  <select id="cart_list" resultType="com.constant01.model.cartVO">
  select * from cart where m_userId = #{m_userId}
  </select>
  
  <delete id="cart_delete">
  
  delete from cart where no=#{no};
  
  </delete>
  
  
  <insert id="cart_add">
  insert into cart(m_userId, productname, productcode, quantity, price) values(#{m_userId},#{productname},#{productcode},#{quantity},#{price});
  
  </insert>
  
  <insert id="orderItem" parameterType="java.util.List">
    INSERT INTO cartorder (
        m_userId, 
        productname, 
        productcode, 
        quantity, 
        price, 
        subtotal, 
        name, 
        phone, 
        zipCd, 
        addr, 
        addr_detail
    ) 
    VALUES
    <foreach collection="list" item="item" separator=",">
        (
            #{item.m_userId}, 
            #{item.productname}, 
            #{item.productcode}, 
            #{item.quantity}, 
            #{item.price}, 
            #{item.subtotal}, 
            #{item.name}, 
            #{item.phone}, 
            #{item.zipCd}, 
            #{item.addr}, 
            #{item.addr_detail}
        )
    </foreach>
</insert>
  
  </mapper>