<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.constant01.mapper.CMemberMapper">
	<!-- 아이디로 검색 -->
	<select id="select" resultType="com.constant01.model.CMember">
		select *
		from CMember where m_userId=#{m_userId}
	</select>
	<select id="select2" resultType="com.constant01.model.CMember">
		select *
		from Staff where m_userId=#{m_userId}
	</select>

	<!-- 회원가입 --> <!-- table img default값 지우기 -->
	<insert id="insert">
		insert into CMember(
		m_userStat, m_email, m_userId, m_userPw, 
		m_hspNm, m_name, m_phone, m_tel,
		m_zipCd, m_addr, m_addr_detail)
		values(
		#{m_userStat}, #{m_email}, #{m_userId}, #{m_userPw},
		#{m_hspNm}, #{m_name}, #{m_phone}, #{m_tel}, 
		#{m_zipCd}, #{m_addr}, #{m_addr_detail}
		)
	</insert>
	<insert id="insert2">
		insert into Staff(
		m_userStat, m_email, m_userId, m_userPw, 
		m_name, m_phone, m_tel,
		m_zipCd, m_addr, m_addr_detail)
		values(
		#{m_userStat}, #{m_email}, #{m_userId}, #{m_userPw},
		#{m_name}, #{m_phone}, #{m_tel}, 
		#{m_zipCd}, #{m_addr}, #{m_addr_detail}
		)
	</insert>
	<!-- 아이디 찾기 -->
	<select id="selectFindId" resultType="com.constant01.model.CMember">
		select * from CMember where m_tel=#{m_tel} and
		m_name=#{m_name}
	</select>
	<!-- 비밀번호 찾기 -->
	<select id="selectFindPw" resultType="com.constant01.model.CMember">
		select * from CMember where M_email=#{m_email}
	</select>
	<update id="updateFindPw">
		update CMember set
		M_password=#{m_password}
		where M_email=#{m_email}
	</update>


	<!-- 회원 탈퇴 -->
	<update id="delete">
		update CMember set del='y'
		where m_userId=#{m_userId}
	</update>

	<!-- 회원 정보 수정 -->
	<update id="update">
		update CMember set
		M_password=#{m_password}, M_tel=#{m_tel},
		M_addr=#{m_addr}, M_addr_detail=#{m_addr_detail},
		M_birth=#{m_birth}
		<if test="m_img != null and m_img != ''">
			,M_img=#{m_img}
		</if>
		where M_email=#{m_email}
	</update>
	<!-- 프로필 상세 -->
	<select id="selectNum" resultType="com.constant01.model.CMember">
		select * from CMember where M_email=#{m_email}
	</select>

	<!-- 주문 취소 -->
	<update id="refund" parameterType="int">
		update M_order set
		refund_chk='y', status='취소완료'
		where order_no=#{order_no}
	</update>

	<!-- 관리자 회원 정보 삭제 -->
	<update id="adminMbDelete" parameterType="string">
		update CMember set
		del='Y' where m_userId=#{m_userId}
	</update>

	<!-- 관리자 회원 수 확인 -->
	<select id="getMbTotal" resultType="int">
		select count(*) from CMember	<!-- member 행 갯수 -->
		<!-- 회원 검색 기능 추가 -->
	</select>
	<!-- 관리자 회원 목록 -->
	<select id="mbList" resultType="com.constant01.model.CMember">
		select *
         from(select  b.*, @rownum:=@rownum+1 rn
            from CMember b, (select @rownum:=0) as tmp
             order by m_hspNm desc) as boardlist
		where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="mbList1" resultType="com.constant01.model.CMember">
		select *
         from(select  b.*, @rownum:=@rownum+1 rn
            from CMember b, (select @rownum:=0) as tmp
             order by amount desc) as boardlist
		where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="stList" resultType="com.constant01.model.CMember">
		select *
         from(select  b.*, @rownum:=@rownum+1 rn
            from Staff b, (select @rownum:=0) as tmp
             order by m_name desc) as boardlist
		where m_userStat = '출하직원';
	</select>

	<update id="updateAmount">
		update CMember set
		amount=#{amount} where m_email=#{m_email}
	</update>

	<update id="updateAmount2">
		update CMember set
		amount=#{amount} where m_email=#{m_email}
	</update>
</mapper> 