<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.constant01.mapper.CouponMapper">
	<!-- 관리자가 쿠폰 부여하기 -->
	<insert id="insert">
		insert into coupon(coupon_no,
		coupon_type, coupon_use, coupon_max_date,
		use_price, m_userId)
		values(0,
		#{coupon_type},
		#{coupon_use}, #{coupon_max_date},
		#{use_price}, #{m_userId})
	</insert>

	<select id="getWLTotal" resultType="int">
		select count(*) from wishList
	</select>
	<!-- 쿠폰 목록 -->
	<select id="cpList" resultType="com.constant01.model.Coupon">
		<!-- select * from (select a.*, rowNum rn from (select * from coupon <where> 
			<if test="keyword!=null and keyword!=''"> ${search} like '%' || #{keyword} 
			|| '%' </if> </where> order by coupon_no desc) a) where M_email = #{m_email} 
			and rn between 1 and 20 -->
		select row_number() over(order by coupon_max_date desc) rn, coupon_no,
		coupon_type,
		use_price from coupon
		where coupon_max_date > sysdate
		and
		coupon_use = 'n' and m_email = #{m_email}
	</select>

	<delete id="delete" parameterType="integer">
		delete from wishList where
		wish_no = #{wish_no}
	</delete>
	<select id="selectSP" parameterType="integer"
		resultType="integer">
		select use_price from coupon where coupon_no = #{coupon_no}
	</select>
	<!-- 회원가입 쿠폰 -->
	<insert id="insertME" parameterType="com.constant01.model.Coupon">
		<selectKey keyProperty="coupon_no" order="BEFORE"
			resultType="integer">
			(select nvl(max(coupon_no), 0) + 1 coupon_no from coupon)
		</selectKey>
		insert into COUPON (coupon_no, coupon_type, coupon_use,
		coupon_max_date,
		use_price, M_email)
		values(#{coupon_no},
		#{coupon_type}, #{coupon_use}, sysdate + 7,
		#{use_price}, #{m_email})
	</insert>

	<select id="totalCP" parameterType="string" resultType="integer">
		select
		count(*) from coupon where coupon_use='n' and m_email=#{m_email}
	</select>

	<select id="select" parameterType="integer" resultType="com.constant01.model.Coupon">
		select *
		from coupon where coupon_no=#{coupon_no}
	</select>

	<update id="update" parameterType="com.constant01.model.Coupon">
		update coupon set coupon_use =
		'y' where coupon_no = #{coupon_no}
	</update>

	<select id="cpList2" parameterType="string" resultType="com.constant01.model.Coupon">
		select *
		from (select a. *, rowNum rn from (select * from
		Coupon where
		m_email=#{m_email} and coupon_use = 'n' order by coupon_no
		desc) a)
		where rn between 1 and 5
	</select>
</mapper> 
