<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.constant01.mapper.DeliveryMapper">

	<!--ship_driver로 보내기 위한 list -->
	<select id="list" resultType="com.constant01.model.DriverDTO">
		select * from driver;
	</select>
	
	<!-- 배달기사 위치 db에 insert -->
	<insert id="write">
		insert into customermap values(#{driverIdx},#{driverNm},#{driverLat},#{driverLon},0,default);
	</insert>
	
	
	<!-- 기사 위치 -->
	<select id="dlist" resultType="com.constant01.model.DeliveryDTO">
		select * from customermap order by num desc;
	</select>
	
	<delete id="delete">
	<![CDATA[
		delete from customermap where driverIdx = #{driverIdx} and liveTime < DATE_ADD(NOW(), INTERVAL -60 SECOND)
	]]>
	</delete>
	

</mapper>