<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.constant01.mapper.DeliveryMapper">
	
	<select id="login" parameterType="String" resultType="com.constant01.model.DriverDTO">
		select * from driver where userId=#{userId} and userPw = #{userPw};
	</select>
	
		
	<select id="login2" parameterType="String" resultType="com.constant01.model.AdminDTO">
		select * from admin where userId=#{userId} and userPw = #{userPw};
	</select>
	
	
	<!--ship_driver로 보내기 위한 list -->
	<select id="list" resultType="com.constant01.model.DriverDTO">
		select * from driver;
	</select>
	
	<!-- 배달기사 위치 db에 insert -->
	<insert id="write">
		insert into customermap values(#{userId},#{userPw},#{driverNm},#{driverPhone},#{driverLat},#{driverLon},0,default);
	</insert>

	<!-- 기사 위치임 -->
	<select id="dlist" resultType="com.constant01.model.DeliveryDTO">
		SELECT *
FROM customermap
WHERE (drivernm = '홍배달' OR drivernm = '나배달')
AND num IN (
    SELECT MAX(num)
    FROM customermap
    WHERE drivernm = '홍배달' OR drivernm = '나배달'
    GROUP BY drivernm
)ORDER BY num DESC;
	</select>
	
	<delete id="delete">
	<![CDATA[
		delete from customermap where userPw = #{userPw} and liveTime < DATE_ADD(NOW(), INTERVAL -60 SECOND)
	]]>
	</delete>
	

</mapper>