<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.constant01.mapper.DeliveryMapper">
	
	<select id="login" parameterType="String" resultType="com.constant01.model.CMember">
		select * from Staff where m_userId=#{m_userId} and m_userPw =#{m_userPw};	
	</select>
	
		
	<select id="login2" parameterType="String" resultType="com.constant01.model.AdminDTO">
		select * from admin where userId=#{userId} and userPw = #{userPw};
	</select>
	
	
	<!--ship_driver로 보내기 위한 list -->
	<select id="list" resultType="com.constant01.model.CMember">
		select * from Staff;
	</select>
	
	<!-- 배달기사 위치 db에 insert -->
	<insert id="write">
		insert into customermap values(#{m_userId},#{m_userPw},#{m_name},#{m_phone},#{driverLat},#{driverLon},0,CURRENT_TIMESTAMP);
	</insert>

	<!-- 기사 위치임 -->
	<select id="dlist" resultType="com.constant01.model.DeliveryDTO">
		SELECT *
FROM customermap
WHERE (m_name = '홍배달' OR m_name = '나배달')
AND num IN (
    SELECT MAX(num)
    FROM customermap
    WHERE m_name = '홍배달' OR m_name = '나배달'
    GROUP BY m_name
)ORDER BY num DESC;
	</select>
	
	<select id="dlist2" resultType="com.constant01.model.DeliveryDTO">
		SELECT *
FROM customermap
WHERE m_name = #{m_name}
AND num IN (
    SELECT MAX(num)
    FROM customermap
    WHERE m_name = #{m_name}
    GROUP BY m_name
)ORDER BY num DESC;
	</select>
	
	<delete id="delete">
	<![CDATA[
		delete from customermap where m_userPw = #{m_userPw} and liveTime < DATE_ADD(NOW(), INTERVAL -60 SECOND)
	]]>
	</delete>
	
	<select id="temp" resultType="com.constant01.model.TempDTO">
	select * from temp;
	</select>
	 
	<!-- M_order update문 -->
	<update id="deliverydone">
	
	</update> 
	 
</mapper>