<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.constant01.mapper.MemberMapper">
	<insert id="write">
		insert into member values(#{accessTermsYn},#{accessPerYn},#{loginType},#{userTp},#{profEmpNo},#{birthDt},#{telNo},#{hpNo},#{email},#{authIvTp},#{statusCd},#{userNm},#{userId},#{userPw},#{userStat},#{sex},#{zipCd},#{addr},#{detlAddr});
	</insert>
	
	<select id="list" resultType="com.constant01.model.MemberDTO">
		select * from member;
	</select>
	
	<select id="detail" resultType="com.constant01.model.MemberDTO">
		select * from member where id=#{id};
	</select>
	
	<select id="modify">
		update member 
		set password=#{password},
			name=#{name} 
		where id=#{id};
	</select>
	
	<select id="remove">
		delete from member 
		where id=#{id};
	</select>
	
	<resultMap type="com.constant01.model.MemberDTO" id="MemberDTO">
	<result column="userId" property="userId"/>
	<result column="userPw" property="userPw"/>
	<result column="loginType" property="loginType"/>
	
	</resultMap>
	<resultMap type="com.constant01.model.ProfDTO" id="ProfDTO">
	<result column="userId" property="userId"/>
	<result column="deptNo" property="deptNo"/>
	<result column="profNo" property="profNo"/>
	<collection property="MemberDTO" resultMap="MemberDTO"/>
	</resultMap>
	
	<select id="login" parameterType="String" resultType="com.constant01.model.MemberDTO">
		select * from member where userId=#{userId} and userPw = #{userPw};
		
	</select>
	
	<select id="login2" parameterType="String" resultType="com.constant01.model.MemberDTO">
		SELECT * 
		FROM member m JOIN prof p ON m.userPw = p.userPw 
		WHERE m.userId = #{userId} and m.userPw = #{userPw}
	</select>
	
	<select id="login3" parameterType="String" resultType="com.constant01.model.MemberDTO">
		SELECT * 
		FROM member m JOIN prof p ON m.userPw = p.userPw 
		WHERE m.userId = #{userId} and m.userPw = #{resvIdx}
	</select>
	
</mapper>