<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.constant01.mapper.QnAMapper">
	<!-- qna 마지막 번호 -->
	<select id="getMaxNum" resultType="integer">
		select ifnull(max(qa_no),0)+1
		from qna
	</select>

	<!-- qna 답변 작성 -->
	<update id="updateStep" parameterType="com.constant01.model.QnA">
		update qna set
		qa_refStep=qa_refStep+1 where qa_ref=#{qa_ref} and
		qa_refStep>#{qa_refStep}
	</update>

	<!-- qna 작성 -->
	<insert id="insert" parameterType="com.constant01.model.QnA">
		insert into qna values
		(#{qa_no}, #{qa_subject}, #{qa_content}, null, sysdate,
		'답변대기', #{qa_ref}, #{qa_refStep}, #{qa_refLevel}, 'n', #{m_email})
	</insert>

	<!-- qna 첨부파일 작성 -->
	<insert id="insertFile" parameterType="com.constant01.model.QnA">
		insert into qna values
		(#{qa_no}, #{qa_subject}, #{qa_content}, #{qa_fileName}, sysdate,
		'답변대기', #{qa_ref}, #{qa_refStep}, #{qa_refLevel}, 'n', #{m_email})
	</insert>

	<!-- 회원당 qna 총 갯수 -->
	<select id="getTotal" parameterType="com.constant01.model.QnA" resultType="integer">
		select
		count(*) from qna where qa_ref in (select qa_ref from qna where
		M_email=#{m_email})
		and qa_del='n'
	</select>

	<!-- qna 리스트 -->
	<select id="list" parameterType="com.constant01.model.QnA" resultType="com.constant01.model.QnA">
		SELECT * FROM (
    SELECT b.*, @rownum:=@rownum+1 AS rn
    FROM qna b, (SELECT @rownum:=0) AS tmp
    WHERE qa_ref IN (
        SELECT qa_ref FROM qna WHERE M_email = #{m_email}
    )
    ORDER BY qa_ref DESC, qa_refStep
	) AS boardlist
	WHERE rn BETWEEN #{startRow} and #{endRow}
		<!-- 
		select * from
		(select a.*, @rownum:=@rownum+1 rn from (select * from QnA where qa_ref in
		(select qa_ref from QnA where M_email=#{m_email}) order by qa_ref desc,
		qa_refStep) a) b
		where rn between #{startRow} and #{endRow}
		 -->
	</select>

	<!-- qna 선택 -->
	<select id="select" parameterType="integer" resultType="com.constant01.model.QnA">
		select *
		from qna where qa_no=#{num}
	</select>

	<!-- qna 글 삭제 -->
	<update id="delete" parameterType="integer">
		update qna set qa_del='y'
		where qa_ref=#{num}
	</update>

	<select id="getQnATotal" resultType="int">
		select count(*) from qna
	</select>
	
	<select id="qnaList" parameterType="string" resultType="com.constant01.model.QnA">
		<!--
		select * from (select a.*, rowNum rn from (select * from qna
		<where> <if test="keyword!=null and keyword!=''"> ${search} like '%' 
			|| #{keyword} || '%' </if> </where> 
		order by qa_no desc) a)
		where rn between 1 and 20
		-->
		select *
         from(select  b.*, @rownum:=@rownum+1 rn
            from qna b, (select @rownum:=0) as tmp
             order by QA_no desc) as boardlist
		where rn between 1 and 20
	</select>
	
	<select id="selectQnA" parameterType="integer" resultType="com.constant01.model.QnA">
		select * from qna where qa_no=#{qa_no}
	</select>
	
	<update id="updateChk" parameterType="com.constant01.model.QnA">
		update qna set
		qa_condition='답변완료'
		where qa_no=#{qa_no}
	</update>
</mapper>