<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.constant01.mapper.ReleaseMapper">
  
  <select id="boarddetail" resultType="com.constant01.model.BoardDTO">
  select * from board
  where productcode=#{productcode};
  
  
  </select>
  
   <select id="boardpage" resultType="com.constant01.model.BoardDTO">
    
      select *
			from( 
				select @rownum:=@rownum+1 rownum, b.*
				from board b, (select @rownum:=0) as tmp
				
			    order by bno desc
			) as boardlist
			<![CDATA[
			where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			]]> 
    </select>
    
    <select id="boardpage2" resultType="com.constant01.model.BoardDTO">
    
      select *
			from( 
				select @rownum:=@rownum+1 rownum, b.*
				from board b , (select @rownum:=0) as tmp
				where classificationcode= 'a'
				
			    order by bno desc
			   
			) as boardlist2
			 
			<![CDATA[
			where (rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount})
						]]>
    </select>
    
    <select id="boardpage3" resultType="com.constant01.model.BoardDTO">
    
      select *
			from( 
				select @rownum:=@rownum+1 rownum, b.*
				from board b, (select @rownum:=0) as tmp
				where classificationcode= 'b'
			    order by bno desc
			) as boardlist
			<![CDATA[
			where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			]]>
    </select>
    
    <select id="boardpage4" resultType="com.constant01.model.BoardDTO">
    
      select *
			from( 
				select @rownum:=@rownum+1 rownum, b.*
				from board b, (select @rownum:=0) as tmp
				
				
				where classificationcode= 'c'
			    order by bno desc
			) as boardlist
			<![CDATA[
			where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			]]>
    </select>
    
    <select id="boardpage5" resultType="com.constant01.model.BoardDTO">
    
      select *
			from( 
				select @rownum:=@rownum+1 rownum, b.*
				from board b, (select @rownum:=0) as tmp
				where classificationcode= 'd'
			    order by bno desc
			) as boardlist
			<![CDATA[
			where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			]]>
    </select>
    
      
    
    
    
    <select id="getTotal" resultType="int">
    
        select count(*) from board
    
    </select>
    <select id="getTotal2" resultType="int">
    
        select count(*) from board where classificationcode= 'a'
    
    </select>
    
    <select id="getTotal3" resultType="int">
    
        select count(*) from board  where classificationcode= 'b'
    
    </select>
    
    <select id="getTotal4" resultType="int">
    
        select count(*) from board  where classificationcode= 'c'
    
    </select>
    
    <select id="getTotal5" resultType="int">
    
        select count(*) from board  where classificationcode= 'd'
    
    </select>
  
  
  
   <select id="orderlist" resultType="com.constant01.model.M_order">
    
      select *
			from( 
				select @rownum:=@rownum+1 rownum, b.*
				from m_order b, (select @rownum:=0) as tmp
				where m_userId=#{m_userId}
			    order by order_no desc
			) as orderlist
			<![CDATA[
			where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			]]> 
    </select>
  
  <select id="getTotal_order" resultType="int">
    
        select count(*) from m_order
    
    </select>
  
  
  
  
  <select id="qna" resultType="com.constant01.model.QnA">
    
      select *
			from( 
				select @rownum:=@rownum+1 rownum, b.*
				from qna b, (select @rownum:=0) as tmp
				where m_userId = #{m_userId}
			    order by QA_no desc
			) as board
			<![CDATA[
			where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			]]> 
    </select>
  
  <select id="getTotal_qna" resultType="int">
    
        select count(*) from qna where m_userId = #{m_userId}
    
    </select>
  
  <insert id="qna_write">
  insert into qna (QA_subject, QA_content, m_userId) 
  values(#{qa_subject},#{qa_content},#{m_userId})
  
  </insert>
  
  <select id="WriteDetail"  resultType="com.constant01.model.QnA">
  
  select * from qna where qa_no=#{qa_no}
  
  </select>
  
  <select id="detail_answer"  resultType="com.constant01.model.QnAr">
  
  select * from qnar where qa_no=#{qa_no}
  
  </select>
  
  <delete id="qna_delete">
  delete from qna where qa_no=#{qa_no}
  
  </delete>
  
  
  
  
  <select id="member_detail"  resultType="com.constant01.model.CMember">
  
  select * from CMember where m_userId=#{m_userId}
  
  </select>
  
  <update id="changePassword">
  update CMember set M_userPw= #{m_userPw} where m_userId=#{m_userId}
  </update>
  
  
  </mapper>