@charset "UTF-8";

/* 상단 메뉴 스타일 */
.header {
    background-color: #9EBEC4;
    color: white;
    padding: 10px;
    text-align: center;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}


.cute-table {
    border-collapse: collapse;
    width: 100%;
}

.cute-table table {
    font-family: 'Arial', sans-serif;
    border: 1px solid #dddddd;
    text-align: left;
    width: 100%;
}

.cute-table th, .cute-table td {
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.cute-table th {
    background-color: #f2f2f2;
}

.cute-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.cute-table tr:hover {
    background-color: #f1f1f1;
}

.cute-table img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.body {
    width: 90%;
    margin: 10px auto;
}

.table {
    margin: 10px;
    width: 500px;
    height: 300px;
    float: right;
    margin-right: 240px;
    margin-top: 50px;
}



/* 푸터 스타일 */
.footer {
    background-color: #9EBEC4;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    margin: 0;
}