@charset "UTF-8";

/* 상단 메뉴 스타일 */
.header {
    background-color: #9EBEC4;
    color: white;
    padding: 10px;
    text-align: center;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

/* 푸터 스타일 */
.footer {
    background-color: #9EBEC4;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


body {
    margin: 0;
}



/*list 테이블 css*/

        #join {
            color: #565656;
            opacity: 0.5;
            font-size: 2rem;
            font-weight: bold;
        }

        .custom-list li {
            list-style-type: none;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            text-align: center;
        }

        .custom-list div {
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .custom-list div:hover {
            background-color: #297fb8;
        }
		