@charset "UTF-8";
/* 상단 메뉴 스타일 */
.header {
    background-color: #9EBEC4;
    color: white;
    padding: 10px;
    text-align: center;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.top {
    text-align: center; /* 요소 안의 내용을 가운데 정렬합니다 */
    margin-top: 50px; /* 페이지 상단으로부터의 여백을 조절합니다 */
}

.top h2 {
    display: inline-block; /* 요소를 가로로 배치합니다 */
}

/* table css */
.table{
	width: 1000px;
	margin: 0 auto; /* 페이지 중앙 정렬을 위한 추가 */
}


.cute-table {
    border-collapse: collapse;
    width: 1000px;
    margin: 0 auto; /* 페이지 중앙 정렬을 위한 추가 */
}

.cute-table table {
    font-family: 'Arial', sans-serif;
    border: 1px solid #dddddd;
    text-align: left;
    width: 100%;
}

.cute-table th, .cute-table td {
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.cute-table th {
    background-color: #f2f2f2;
}


#map{
	width:50%;
	height:380px;
	margin: 0 auto; /* 페이지 중앙 정렬을 위한 추가 */
	margin-top: 15px;

}


.btn{
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  color: #007bff;
  border: 1px solid #007bff;
  text-decoration: none;
  border-radius: 100px;
}
.btn:hover {
  background-color: #007bff;
  color: #fff;
}




/* 푸터 스타일 */
.footer {
    background-color: #9EBEC4;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


body {
    margin: 0;
}






