@charset "UTF-8";
.table{
	width: 800px;
	height: 200px;
	float: right;
    margin-right: 200px;
    margin-top: 50px;
    position: relative;
    /*top: 100px;*/
    bottom: 250px;
    /*left: 10px;*/
    
}

.p_table {
    border-collapse: collapse;
    width: 800px;
}

.p_table table {
    font-family: 'Arial', sans-serif;
    border: 1px solid #dddddd;
    text-align: left;
    width: 500px;
}

.p_table th, .p_table td {
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.p_table th {
    background-color: #f2f2f2;
}


.cute-table th, .cute-table td {
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.cute-table th {
    background-color: #f2f2f2;
}

.cute-table img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.body {
    width: 90%;
    margin: 10px auto;
}


#driver{
	width:200px;
	height:200px;
}

.driver_profile {
    margin: 10px;
    width: 500px;
    height: 500px;
    float: right;
    margin-right: 500px; /* Adjusted margin-right */
    margin-top: 100px;
}


#map {
    float: left;
    /*margin-right: 200px;*/
    position: relative;
    bottom: 550px;
}



/* 상단 메뉴 스타일 */
.header {
    background-color: #9EBEC4;
    color: white;
    padding: 10px;
    text-align: center;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

/* 푸터 스타일 */
.footer {
    background-color: #9EBEC4;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    margin: 0;
}
