@charset "UTF-8";


.cute-table {
    border-collapse: collapse;
    width: 100%;
}

.cute-table table {
    font-family: 'Arial', sans-serif;
    border: 1px solid #dddddd;
	text-align: center;
    width: 100%;
}

.cute-table th, .cute-table td {
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.cute-table th {
    background-color: #f2f2f2;
	text-align: center;
}


#driverNameParagraph{
	width: 100px;

}

#driverPhoneParagraph{
	float: right;
}


body {
    margin: 0;
}

.cute-table img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.body {
    width: 90%;
    margin: 10px auto;
}


#driver{
	width:200px;
	height:200px;
}

.deliverytable {
	height: 200px;
    width: 400px;/* 원하는 너비로 조정합니다 */
    margin-left: 700px;
    margin-top: 60px;
    float: none; /* 부동 속성을 해제합니다 */
}



.driver_profile {
    margin: 10px;
    width: 500px;
    height: 300px;
    float: right;
    margin-right: 10px; /* Adjusted margin-right */
    margin-top: 10px;
}


#map {
    float: left;
    margin-right: 100px;
    bottom: 200px;
}

#chart_div{
	margin: 10px;
	width: 900px;
	height: 200px;
	
	
	position: absolute;
	bottom: 200px;
	left: 900px;
	
}
.top {
    text-align: center; /* 요소 안의 내용을 가운데 정렬합니다 */
    margin-top: 50px; /* 페이지 상단으로부터의 여백을 조절합니다 */
}

.top h2 {
    display: inline-block; /* 요소를 가로로 배치합니다 */
}


/* 상단 메뉴 스타일 */
.header {
    background-color: #9EBEC4;
    color: white;
    padding: 10px;
    text-align: center;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}


/*홈으로 css*/
#homediv{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-bottom: 100px; /* 조정 가능한 하단 여백 값 */
}

#home {
	text-decoration: none;
	display: inline-block;
	padding: 10px 15px;
	margin: 5px;
	color: #007bff;
	border: 1px solid #007bff;
	text-decoration: none;
	border-radius: 100px;
}

#home:hover {
  background-color: #007bff;
  color: #fff;
}


/* 푸터 스타일 */
.footer {
    background-color: #9EBEC4;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

